{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes!
{% endblock title %}

{% block content %}
    <header>
        <nav>
                <a href="{% url 'main_home'%}">Main Page</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'edit_recipe' recipe_object.id%}">Edit recipe</a>
        </nav>
    </header>
    <main>
    <h1>
         {{ recipe_object.title }}
    </h1>
    <img id="detail-img"src="{{ recipe_object.picture }}"/>
    <div>4.3 Stars ⭐⭐⭐⭐ </div>
    <p>{{ recipe_object.description }}</p>
    <h2>
        Ingredients
    </h2>
    <table class ='ingredient-table'>
        <thead>
            <th class="amount_title"> Amount </th>
            <th class= "item_title"> Food Item</th>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td> {{ ingredient.amount }} </td>
                    <td> {{ ingredient.food_item }} </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>

                <h2>Steps</h2>
                <div class="recipe-list">
                <ol>
                    {% for step in recipe_object.steps.all %}
                    <li id='step-list'>
                        {{ step.instruction}}
                    </li>
                    {% endfor %}
                </ol>
                </div>
            </main>
            {% endblock content %}
