{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes!
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'main_home'%}">Main Page</a>
          <a href="{% url 'create_recipe' %}">Create a recipe</a>
        </nav>
      </header>
    </header>
    <main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
    </main>
{% endblock content %}
