{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes!
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'main_home'%}">Main Page</a>

            {% if user.is_authenticated %}
                <span class="greeting">Hello, {{ user.username }}! </span>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'signup' %}"> Sign Up </a>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
    <h1 class="love">
         Made With Love Recipes!
    </h1>
    <h2>
        Here are some yummy recipes! 😋
    </h2>
    <div class="grid-container">
        {% for recipe in recipe_list %}
        <div class="grid-item>">
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}"> {{ recipe.title }}</a>
            </h3>
            <img id="home-img"src="{{ recipe.picture }}"/>
            <p>{{ recipe.created_on|date:"F j, Y"}}</p>
            <div>5.0 Stars ⭐⭐⭐⭐⭐</div>
        </div>
        {% empty %}
        <p> There are no recipes. </p>
        {% endfor %}
    </div>
</main>
{% endblock content %}
