@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
    font-family: 'Roboto Slab', serif;
    color: rgb(105, 18, 63);
}
h1, h2 {
    font-weight: 900px;
}

body {
  margin: auto;
  padding: 0;
  font-size: 16px;
}

main {
    padding: 18px;
    margin-left: 100px;
}

.footer_bar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

.with-love {
    animation: myAnim 6s ease-out 3s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}
#detail-img {
    height: 300px;
    padding-bottom: 10px;
    border: 10px solid rgba(255, 62, 110, 0.192);
    border-radius: 30px;
}

#home-img {
    height: 230px;
    width: 230px;
    border: 8px solid rgba(255, 62, 110, 0.192);
    border-radius: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-column-gap: 90px;
    grid-row-gap: 50px;
}

nav {
    padding: 30px;
    font-weight: 600;
    background-color: rgba(255, 20, 145, 0.144);
}

.greeting {
    color: rgb(80, 18, 20);
    background-color: #a0d9ffa6;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 8px 5px 5px rgba(168, 116, 155, 0.267);
}


td {
    padding: 5px;
    padding-right: 10px;
}
tr:nth-child(even) {
    background-color: rgba(38, 133, 196, 0.192);
}

table {
    background: rgb(100, 180, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    position: center;
}

a:hover {
    background-color: rgba(118, 177, 255, 0.247);
}

a {
  color: rgb(80, 18, 20);
  text-decoration: none;
  background-color: #ff688ea6;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 8px 5px 5px rgba(168, 116, 155, 0.267);
}

a:active {
  color: rgb(255, 255, 255);
}
